edgms.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://edgms.org/schema/"
    xmlns:edgms="http://edgms.org/schema/"
    xmlns:dcterms="http://purl.org/dc/terms/"
    targetNamespace="http://edgms.org/schema/"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <!--
        EDGMS: Educational Digital Game Metadata Schema

        설계 의도:
        이 XSD는 교육용 디지털 게임, 게임화 학습 플랫폼, 교육적으로 재사용되는 상업용 게임을
        메타데이터 레코드로 기술하기 위해 작성되었다. 교사, 연구자, 사서, 학부모가 교육용으로 사용할 게임을 식별하고 선택하는 데 도움이 되도록 설계하였다.

        일반적인 기술 메타데이터(title, creator, publisher, description, language, issued, subject)는
        DCMI Metadata Terms(dcterms)를 재사용한다. Dublin Core가 여러 도메인에서 널리 쓰이는
        기술 메타데이터 표준이기 때문에 상호운용성을 높였다.

        educationalLevel, learningObjective, genre, platform, playMode, educationalUseType,
        interactivityType, pricingModel은 교육용 디지털 게임 도메인에 특화된 정보이므로
        edgms namespace 안에서 직접 선언하였다.

        AI 사용 및 수정 내역:
        이 XSD는 ChatGPT의 도움을 받아 Draft 3을 바탕으로 초안을 생성한 뒤, in-class 피드백 및 검토 후 일부를 수정하였다. 

        수정 1. dcterms 임포트 요청
        수정 2. dcterms:date와 dcterms:issued의 혼용을 dcterms:issued로 통일.
        수정 3. accessType이라는 명칭이 모호하다는 피드백을 반영해 pricingModel로 수정.
        수정 4. 중복 방지 위해 subjectArea라는 별도 EDGMS 요소는 삭제하고, dcterms:subject만 유지하도록 변경.
        수정 5. Draft 3의 Appendix에는 6개의 controlled vocabulary만 제시되어 있었으나, XSD에서 playMode와 interactivityType도 simpleType으로 구현하면서 Appendix를 8개로 확장하였다.
        수정 6. 기존 Draft 3의 Documentation 일부를 수정하여 이 xsd에 반영하였다. (예: dcterms:description의 documentation에서 "educational purpose"를 삭제하고, 대신 edgms:learningObjective의 주석에 "학습 목적"을 명시하였다.)
    -->

    <!--
        외부 스키마 import:
        이 스키마는 dcterms:title, dcterms:creator, dcterms:publisher, dcterms:description,
        dcterms:language, dcterms:issued, dcterms:subject를 직접 참조하므로
        DCMI Metadata Terms XSD를 import한다.

        IEEE LOM은 educationalLevel과 interactivityType 설계에 개념적으로 참고되었지만,
        이 XSD에서 lom: 접두어가 붙은 외부 요소를 직접 ref로 사용하지 않으므로 import하지 않았다.
    -->
        
    <xs:import
        namespace="http://purl.org/dc/terms/"
        schemaLocation="http://dublincore.org/schemas/xmls/qdc/dcterms.xsd"/>

    <!--
        root element:
        edgms:educationalDigitalGame 요소는 하나의 교육용 디지털 게임 또는
        게임화 학습 플랫폼에 대한 메타데이터 레코드를 나타낸다.

        이 요소는 여러 하위 요소를 포함하므로 simpleType이 아니라 complexType으로 정의하였다.
        별도의 EducationalDigitalGameType 이름을 만들지 않고, CDWA Lite 예시처럼
        루트 요소 내부에 익명 complexType을 직접 넣었다.
    -->

    <xs:element name="educationalDigitalGame">
        <xs:annotation>
            <xs:documentation>
                Root element for a single educational digital game or gamified learning platform metadata record.
            </xs:documentation>
        </xs:annotation>

        <xs:complexType>
            <xs:sequence>

                <!--
                    dcterms:title:
                    게임의 공식 제목을 쓴다. 일반적인 기술 메타데이터이므로 EDGMS에서 새로 만들지 않고
                    DCMI Terms의 title 요소를 재사용한다. 필수이며 반복하지 않는다.
                -->
                <xs:element ref="dcterms:title" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            The official name of the object as designated by its creator or publisher.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <!--
                    dcterms:creator:
                    게임 개발자 또는 개발 스튜디오를 기록한다. 하나의 게임에 여러 개발자가 있을 수 있으므로
                    반복 가능하게 설정하였다.
                -->
                <xs:element ref="dcterms:creator" minOccurs="1" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            The individual, team, or studio primarily responsible for designing and developing the game.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <!--
                    dcterms:publisher:
                    배급자 또는 공개 제공 기관을 기록한다. 모든 게임에서 명확하지 않을 수 있으므로
                    선택 요소로 설정하였다.
                -->
                <xs:element ref="dcterms:publisher" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            The organization responsible for distributing or making the game publicly available.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <!--
                    dcterms:description:
                    게임의 내용, 중심 메커니즘을 설명하는 요소이다.
                    이용자가 게임을 식별하고 선택하는 데 중요하므로 필수 요소로 두었다.
                -->
                <xs:element ref="dcterms:description" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            A concise textual summary of the game's content and core mechanics.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <!--
                    dcterms:language:
                    게임의 인터페이스, 텍스트, 오디오에서 제공되는 언어를 기록한다.
                    ISO 639-1 두 글자 언어 코드를 권장하지만, ISO 전체 목록을 XSD enumeration으로
                    제한하지는 않는다.
                -->
                <xs:element ref="dcterms:language" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            The language(s) in which the game's interface, text, and audio content are available.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <!--
                    dcterms:issued:
                    게임의 최초 공개일 또는 출시일을 기록한다.
                    날짜 형식은 ISO 8601을 권장하며, YYYY-MM-DD 형식으로 기록한다.
                    정확한 날짜를 모를 경우 YYYY 형식도 허용한다.
                -->
                <xs:element ref="dcterms:issued" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            The original date on which the game was first publicly released.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <!--
                    dcterms:subject:
                    게임이 다루는 교과 영역, 학문 분야를 기록한다.
                    Dublin Core 상호운용성을 위해 dcterms:subject를 사용한다.
                    값은 Appendix A의 Subject Area 통제어휘 사용을 권장하지만,
                    dcterms:subject는 외부 DCMI Terms XSD에서 정의된 요소이므로
                    이 XSD 안에서 Appendix A enumeration으로 제한하지 않는다.
                -->
                <xs:element ref="dcterms:subject" minOccurs="1" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            The academic subject(s) or knowledge domain(s) that the game addresses or supports.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <!--
                    edgms:educationalLevel:
                    대상 학습자의 교육 단계 또는 학년 범위를 기록한다.
                    게임이 여러 교육 단계에 적합할 수 있으므로 반복 가능하게 설정하였다.
                    Appendix B의 통제어휘를 enumeration으로 검증한다.
                -->
                <xs:element name="educationalLevel" type="edgms:EducationalLevelType" minOccurs="1" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            The intended educational stage or grade range for which the game is designed or most appropriate.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <!--
                    edgms:learningObjective:
                    게임을 통해 학습자가 달성할 수 있는 지식, 기술, 역량을 문장으로 기록한다.
                    필수 요소는 아니지만, 학습 목적을 구체적으로 전달하기 위해 반복 가능하게 설정하였다.
                    자유 텍스트이므로 xs:string을 사용하였다.
                -->
                <xs:element name="learningObjective" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            A statement describing the specific knowledge, skill, or competency a learner is expected to develop through engagement with the game.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <!--
                    edgms:genre:
                    게임의 주요 플레이 방식 또는 활동 유형을 기록한다. 장르는 복합적이므로 복수 선택이 가능하다.
                    검색과 필터링에 중요하고 Draft Appendix C에 통제어휘가 있으므로 simpleType enumeration으로 제한한다.
                -->
                <xs:element name="genre" type="edgms:GenreType" minOccurs="1" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            The gameplay or activity category that characterizes the primary mechanics and structure of the object.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <!--
                    edgms:platform:
                    게임에 접속하거나 실행할 수 있는 장치, 운영체제, 웹 환경을 기록한다.
                    하나의 게임이 여러 플랫폼을 지원할 수 있으므로 반복 가능하다.
                    Appendix D의 통제어휘를 enumeration으로 검증한다.
                -->
                <xs:element name="platform" type="edgms:PlatformType" minOccurs="1" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            The device, operating system, or web environment on which the game can be accessed or played.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <!--
                    edgms:playMode:
                    게임이 싱글 플레이, 협력 멀티플레이, 경쟁 멀티플레이, 학급 전체 활동 중
                    어떤 방식으로 사용되는지 기록한다. 하나의 게임이 여러 모드를 지원할 수 있으므로 반복 가능하다.
                    Appendix E의 통제어휘를 enumeration으로 검증한다.
                -->
                <xs:element name="playMode" type="edgms:PlayModeType" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            Describes whether the game is played individually, cooperatively, competitively, or as a classroom-wide activity.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <!--
                    edgms:educationalUseType:
                    해당 객체가 명시적 교육용 게임인지, 게임화 학습 플랫폼인지, 교육적으로 재사용되는
                    상업용 게임인지 등을 구분한다. 도메인 판별에 중요하므로 필수 요소로 설정하였다.
                    Appendix F의 통제어휘를 enumeration으로 검증한다.
                -->
                <xs:element name="educationalUseType" type="edgms:EducationalUseTypeType" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            Indicates the educational role or category of the digital game, game-based tool, or interactive learning environment.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <!--
                    edgms:interactivityType:
                    학습자가 게임 콘텐츠와 상호작용하는 주된 방식을 기록한다.
                    Active는 학습자가 과제를 수행하거나 선택을 내리는 경우, Expositive는 콘텐츠를
                    주로 따라가거나 제시받는 경우, Mixed는 두 방식이 결합된 경우를 의미한다.
                    Appendix G의 통제어휘를 enumeration으로 검증한다.
                -->
                <xs:element name="interactivityType" type="edgms:InteractivityTypeType" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            The primary mode through which a learner interacts with the game content.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <!--
                    edgms:pricingModel:
                    게임을 사용자가 어떤 가격제, 접근 방식, 라이선스 모델로 획득하고 이용할 수 있는지 기록한다.
                    Appendix H의 통제어휘를 enumeration으로 검증한다.
                -->
                <xs:element name="pricingModel" type="edgms:PricingModelType" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            The pricing or access model through which the game is obtained by users or institutions.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--
        Appendix A — Subject Area
        위 주석 수정 4 참고. 외부 dcterms 요소를 직접 제한하지 않기 위해 이 XSD에서는 simpleType으로 구현하지 않았다.

        Appendix B — Educational Level
        대상 학습자의 교육 단계 또는 학년 범위를 일관되게 기록하기 위한 통제어휘이다.
    -->
    <xs:simpleType name="EducationalLevelType">
        <xs:annotation>
            <xs:documentation>
                Controlled vocabulary for the intended educational stage or grade range of the target user.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Early Childhood (Pre-K)"/>
            <xs:enumeration value="Elementary School (K-5)"/>
            <xs:enumeration value="Middle School (6-8)"/>
            <xs:enumeration value="High School (9-12)"/>
            <xs:enumeration value="Undergraduate"/>
            <xs:enumeration value="Lifelong Learning"/>
            <xs:enumeration value="All Ages"/>
        </xs:restriction>
    </xs:simpleType>

    <!--
        Appendix C — Game Genre
        게임의 주요 장르를 일관되게 기록하기 위한 통제어휘이다.
    -->
    <xs:simpleType name="GenreType">
        <xs:annotation>
            <xs:documentation>
                Controlled vocabulary for gameplay or activity categories that characterize the game's mechanics and structure.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Puzzle"/>
            <xs:enumeration value="Simulation"/>
            <xs:enumeration value="Role-Playing Game (RPG)"/>
            <xs:enumeration value="Strategy"/>
            <xs:enumeration value="Sandbox"/>
            <xs:enumeration value="Quiz"/>
            <xs:enumeration value="Adventure"/>
            <xs:enumeration value="Platformer"/>
            <xs:enumeration value="Typing"/>
            <xs:enumeration value="Language Learning"/>
            <xs:enumeration value="Other"/>
        </xs:restriction>
    </xs:simpleType>

    <!--
        Appendix D — Platform
        게임 실행 환경을 일관되게 기록하기 위한 통제어휘이다.
    -->
    <xs:simpleType name="PlatformType">
        <xs:annotation>
            <xs:documentation>
                Controlled vocabulary for hardware devices, operating systems, or web environments on which the game can be accessed or played.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Windows"/>
            <xs:enumeration value="macOS"/>
            <xs:enumeration value="Linux"/>
            <xs:enumeration value="iOS"/>
            <xs:enumeration value="Android"/>
            <xs:enumeration value="Web Browser"/>
            <xs:enumeration value="Nintendo Switch"/>
            <xs:enumeration value="Other"/>
        </xs:restriction>
    </xs:simpleType>

    <!--
        Appendix E — Play Mode
        게임의 플레이 방식을 일관되게 기록하기 위한 통제어휘이다.
    -->
    <xs:simpleType name="PlayModeType">
        <xs:annotation>
            <xs:documentation>
                Controlled vocabulary for whether the game is played individually, cooperatively, competitively, or as a classroom-wide activity.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Single-player"/>
            <xs:enumeration value="Cooperative Multiplayer"/>
            <xs:enumeration value="Competitive Multiplayer"/>
            <xs:enumeration value="Classroom-wide"/>
        </xs:restriction>
    </xs:simpleType>

    <!--
        Appendix F — Educational Use Type
        게임 또는 게임 기반 도구의 교육적 역할을 구분하기 위한 통제어휘이다.
    -->
    <xs:simpleType name="EducationalUseTypeType">
        <xs:annotation>
            <xs:documentation>
                Controlled vocabulary for the educational role or category of the digital game, game-based tool, or interactive learning environment.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Explicitly Educational Game"/>
            <xs:enumeration value="Gamified Learning Platform"/>
            <xs:enumeration value="Commercial Game Repurposed for Education"/>
            <xs:enumeration value="Educational Programming Environment"/>
            <xs:enumeration value="Gamified Learning Tool"/>
            <xs:enumeration value="Other"/>
        </xs:restriction>
    </xs:simpleType>

    <!--
        Appendix G — Interactivity Type
        학습자가 게임 콘텐츠와 상호작용하는 주된 방식을 구분하기 위한 통제어휘이다.
    -->
    <xs:simpleType name="InteractivityTypeType">
        <xs:annotation>
            <xs:documentation>
                Controlled vocabulary for the primary mode through which a learner interacts with the game content.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Active"/>
            <xs:enumeration value="Expositive"/>
            <xs:enumeration value="Mixed"/>
        </xs:restriction>
    </xs:simpleType>

    <!--
        Appendix H — Pricing Model
        게임의 가격제, 접근 방식, 라이선스 모델을 일관되게 기록하기 위한 통제어휘이다.
    -->
    <xs:simpleType name="PricingModelType">
        <xs:annotation>
            <xs:documentation>
                Controlled vocabulary for the pricing or access model through which the game is obtained by users or institutions.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Free"/>
            <xs:enumeration value="Freemium"/>
            <xs:enumeration value="Paid (One-time)"/>
            <xs:enumeration value="Subscription-based"/>
            <xs:enumeration value="Institutional License"/>
            <xs:enumeration value="Open Educational Resource"/>
            <xs:enumeration value="Other"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>